#Header {
	background-color:$color-black;
	display:flex;
	align-items:center;
	justify-content:space-between;
    height:50px;
    padding:6px 16px;
    color: $color-main-light;
    font-weight:bold;
    > * {
    	display:inline-block;
    	vertical-align:middle;
    	line-height:0;
    }
    li {
		display:inline-block;
		padding:10px;
		font-size:1.2rem;
	}
	img {
		width:90px;
	}
}