#DocumentsModule {
    .grid-view, .list-view {
        font-size:0.88rem;
        li {
            padding:0 8px 12px;
            background-image:url("../images/folder.svg");
            background-repeat:no-repeat;
            &.PDF, &.WORD, &.EXCEL, &.POWERPOINT, 
            &.WORD_2003, &.EXCEL_2003, &.POWERPOINT_2003, &.TXT, &.RTF {background-size:74px;}
            &.PDF {background-image:url("../images/pdf.svg")}
            &.WORD, &.WORD_2003 {background-image:url("../images/word.svg")}
            &.EXCEL, &.EXCEL_2003 {background-image:url("../images/excel.svg")}
            &.POWERPOINT, &.POWERPOINT_2003 {background-image:url("../images/powerpoint.svg")}
            &.TXT {background-image:url("../images/txt.svg")}
            &.RTF {background-image:url("../images/rtf.svg")}
        }
        p {margin:0;}
    }
    .grid-view {
        li {
            background-size:66%;
            width:100px;
            padding-top:65px;
            height:112px;
            overflow:hidden;
            background-position:center top;
            text-align:center;
            &.PDF, &.WORD, &.EXCEL, &.POWERPOINT, 
            &.WORD_2003, &.EXCEL_2003, &.POWERPOINT_2003, &.TXT, &.RTF {background-size:60px;}
        }
    }
    .list-view {
        li {
            width:250px;
            height:74px;
            background-size:80px;
            background-position:left top;
            padding-left:90px;
            margin-right:16px;
            padding-top:5px;
        }
        p {
            white-space:nowrap;
            text-overflow:ellipsis;
        }
    }
    object {
        border:1px solid $color-black;
        width:100%;
        max-width:1280px;
        background-color: $color-black;
        height:500px;
        margin-bottom:30px;
    }
}

#breadcrumb {
    background-color:$color-black;
    border-radius:4px;
    margin-bottom:1.2rem;
    display:flex;
    white-space:nowrap;
    justify-content:flex-start;
}

#breadcrumb-slider {
    color:$color-main-light;
    overflow:hidden;
    align-items:center;
    display:inline-flex;
    justify-content:flex-end;
    padding-right:10px;
    div {
        height:32px;
        display:inline-block;
        padding:7px 0 7px 10px;
        vertical-align:middle;
        cursor:pointer;
    }
    div:not(:last-child):after {
        content:'>';
        padding-left:10px;
        display:inline-block;
        vertical-align:middle;
        position:relative;
        bottom:2px;
    }
}

.details {
    color:$color-success;
    font-weight:bold;
}