#LoginView {
	padding-top:80px;
    background-color:$color-main;
    min-height:500px;
	height:100%;
	img {
		border-radius:50%;
		margin:20px auto 0;
	}
	h1 {
		color:$color-black;
		margin:32px 0;
		text-align:center;
		font-size:1.5rem;
	}
	form {
		margin:0 auto;
		background-color:$color-gray;
		box-shadow:$box-shadow;
		padding:16px;
		width:100%;
		max-width:400px;
	}
	input {
		display:block;
		margin:0 auto 10px;
		width:100%;
		&[type="submit"] {margin-top:32px;}
	}
	.Notification {
		width:100%;
		max-width:400px;
		margin:0.7em auto;
	}
}