.Module {
    padding:20px 16px;
	h1 {
		font-size:2rem;
		color:$color-main;
	}
}

#toolbar {
    margin-bottom:1.2rem;
    padding-bottom:1.2rem;
    border-bottom:1px solid $color-main-light;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.toggleDisplayType {
    &.button-list-view {background-image:url('../images/grid-view.svg')}
    &.button-grid-view {background-image:url('../images/list-view.svg')}
}