@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

/* == FONTS == */
$font-main:'Source Sans Pro', sans-serif;

$color-black:#222;
$color-white:#FFF;
$color-gray-text:#7E949E;
$color-main:#00638E;
$color-main-light:#8CDCFF;
$color-main-dim:tint(#00638E, 70%);
$color-success:#008E78;
$color-error:#8E0000;
$color-gray:#F4F8F9;

$box-shadow:1px 1px 12px 2px #333;

.color-button {
	width:auto !important;
	padding:10px 12px;
	color:$color-white;
	font-weight:bold;
	font-size:1.2rem;
	border:none;
	border-radius:3px;
	&.button-ok {
		background-color:$color-main;
		&:hover {background-color:tint($color-main, 20%);}
	}
}

.toolbar-button {
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    outline:none;
    background-color:transparent;
    border:none;
    width:28px;height:28px;
}

input {
	&[type="text"], &[type="password"] {
		height:40px;
		padding:8px;
		color:#333;
	}
}

.Notification {
	padding:0.7em 1em;
	line-height:1.5em;
	margin:0.7em 0;
	color:$color-white;
	box-shadow:$box-shadow;
	&.none {display:none;}
	&.error, &.success, &.info {display:block;}
	&.error {background-color:$color-error;}
	&.success {background-color:$color-success;}
	&.info {background-color:$color-black;}
}

.grid-view, .list-view {
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    li, .list-item {
        display:inline-block;
        cursor:pointer;
    }
}

$base-width:750px; $base-height:500px; $increment:150px;
.frame {
    max-height:390px;
	overflow-y:auto;
	@media screen and (min-height:$base-width + ($increment * 3)) {
		max-height:$base-height + ($increment * 3);
	}
	@media screen and (min-height:$base-width + ($increment * 2)) and (max-height:$base-width + ($increment * 3) - 1) {
		max-height:$base-height + ($increment * 2);
	}
	@media screen and (min-height:$base-width + $increment) and (max-height:$base-width + ($increment * 2) - 1) {
		max-height:$base-height + $increment;
	}
	@media screen and (min-height:$base-width) and (max-height:$base-width + $increment - 1) {max-height:$base-height;}
}