@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

/* == FONTS == */
$font-main:'Source Sans Pro', sans-serif;

$black:#222;
$white:#FFF;
$color-main:#00638E;
$color-main-light:#8CDCFF;